
# Create a new directory and enter it
function mkd() {
        mkdir -p "$@" && cd "$@"
}

# Start a PHP server from a directory, optionally specifying the port
function phpserver() {
        local port="${1:-4000}"
        local ip=$(ipconfig getifaddr en1)
        sleep 1 && open "http://${ip}:${port}/" &
        php -S "${ip}:${port}"
}

function show_my_ip() {
	dig +short myip.opendns.com @resolver1.opendns.com
}

